<div class="mb-3">
    <label for="title" class="form-label">Role Title</label>
    <input type="text" class="form-control" [(ngModel)]="role.title" #roleTitle>
</div>
<div class="mb-3">
    <label for="description" class="form-label">Role Description</label>
    <textarea type="text" class="form-control" [(ngModel)]="role.description" #roleDescription></textarea>
</div>

<div class="container">
    <button class="btn btn-success" type="button" 
        (click)="update(roleTitle.value, roleDescription.value)">
        Update
    </button>
</div>