<h1>Roles</h1>

<div>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
        </thead>
        <tbody *ngIf="roles.length">
            <tr *ngFor ="let role of roles">
                <td>{{role.id}}</td>
                <td>{{role.title}}</td>
                <td>{{role.description}}</td>
                <td>
                    <button class="btn btn-info" routerLink="/edit/{{role.id}}">
                        Edit
                    </button>
                    &nbsp;
                    <button class="btn btn-danger" (click)="deleteRole(role.id)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<button class="btn btn-primary" routerLink="/add">
    Add new role
</button>