<div class="mb-3">
    <label for="title" class="form-label">Role Title</label>
    <input type="text" class="form-control" #roleTitle>
</div>
<div class="mb-3">
    <label for="description" class="form-label">Role Description</label>
    <textarea type="text" class="form-control" #roleDescription></textarea>
</div>

<div class="container">
    <button class="btn btn-success" type="button" 
        (click)="add(roleTitle.value, roleDescription.value); roleTitle.value=''; roleDescription.value=''">
        Add
    </button>
</div>